BOT_TOKEN="token"
DEBUG=False
TITLE_IMG="assets/title.jpg"
VUC_PRESENTATION_PDF="assets/presentation.pdf"
SELECTION_REGULATIONS_PDF="assets/selection_regulations.pdf"
VUC_REGULATION_PDF="assets/vuc_regulation.pdf"
REMINDER_IMG="assets/reminder.png"
MEETING_SCHEDULE_IMG="assets/meeting_schedule.jpg"